body {
    background-color: rgb(5, 5, 182);
    color:rgb(49, 255, 45);
}

.stickyInfo{
    position: sticky;
    width: fit-content;
    display: flex;
    flex-wrap: nowrap;
    justify-content: flex-end;
    margin-left: 5px;
    border-radius: 5px;
    z-index: 8;
    background: rgba(54, 54, 54, 0.6);
    color: rgb(202, 202, 202);
    font-family: monospace;
    padding: 5px 10px;
}
.stickyInfo p{
    margin: 2px 3px;
}
.info{
    position: absolute;
    width: -webkit-fill-available;
    display: flex;
    justify-content: space-between;
    left: -8px;
    overflow: hidden;
}

.top{top: 0px;}
.bottom{bottom: 0px;}

.center{
    position: fixed;
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    font-family: cursive;
}