<!DOCTYPE html>
<html lang="en">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1"/>
        <link href="{{ url_for('static', filename='css/test.css') }}" type="text/css" rel="stylesheet" media="screen,projection"/>
        <link rel="shortcut icon" href="{{ url_for('static', filename='icons/home.png') }}">
        <script type="text/javascript" src="{{ url_for('static', filename='js/web/socket.io.js') }}"></script>
        <!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.0.1/socket.io.js" integrity="sha512-q/dWJ3kcmjBLU4Qc47E4A9kTB4m3wuTY7vkFJDTZKjTs8jhyGQnaUrxa0Ytd0ssMZhbNua9hE+E7Qv1j+DyZwA==" crossorigin="anonymous"></script> -->

    </head>
    <body>
        <div class="info">
            <div class="stickyInfo">
                <p>(test) Websocket:</p>
                <p id="state">not connected</p>
            </div>
            <div class="stickyInfo">
                <p id="time">not connected</p>
            </div>
        </div>
        
        <div class="center">
            <h1>Hey World</h1>
            <p>Greetings, Tommy</p>
            <a style="color:#fff;" href="/login">Log in</a>
        </div>
        
    </body>
    <script src="{{ url_for('static', filename='js/test.js') }}"></script>
</html>
